#countdown{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:90px;
    font-weight:bold;
    color:white;

    text-shadow:
        0 0 10px #ff1493,
        0 0 30px #ff69b4,
        0 0 50px hotpink;

    animation:countZoom 1s infinite;

    z-index:1000;

    display:none;
}


/* เลขเด้ง + สั่น */
@keyframes countZoom{

    0%{
        transform:translate(-50%,-50%) scale(1);
        opacity:1;
    }

    50%{
        transform:translate(-50%,-50%) scale(1.5);
        opacity:.8;
    }

    100%{
        transform:translate(-50%,-50%) scale(1);
        opacity:1;
    }

}


/* เอฟเฟกต์ตอนเลขเปลี่ยน */
.countChange{

    animation:changeNumber .8s;

}


@keyframes changeNumber{

    0%{
        transform:translate(-50%,-50%) scale(.3);
        opacity:0;
    }


    50%{
        transform:translate(-50%,-50%) scale(1.7);
        opacity:1;
    }


    100%{
        transform:translate(-50%,-50%) scale(1);
        opacity:1;
    }

}



/* ปุ่มเริ่มเซอร์ไพรส์ */
#startBtn{

    background:linear-gradient(45deg,#ff1493,#ff69b4);

    color:white;

    padding:18px 45px;

    border:none;

    border-radius:50px;

    font-size:25px;

    font-weight:bold;

    cursor:pointer;

    box-shadow:
    0 0 20px pink,
    0 0 40px hotpink;

    animation:pulseBtn 1.5s infinite;

}



@keyframes pulseBtn{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.1);
    }

    100%{
        transform:scale(1);
    }

}



/* เอฟเฟกต์เปิดการ์ด */
.card.show{

    animation:cardOpen 1s ease;

}



@keyframes cardOpen{

    from{
        opacity:0;
        transform:scale(.5) rotate(-10deg);
    }


    to{
        opacity:1;
        transform:scale(1) rotate(0deg);
    }

}
